<div class="contentBox autoWidthElement">
    <div class="autoWidthElement contentBoxHeader">
        <div class="absoluteElement avatar"></div>
        <div class="infobox">
            <h5><strong id="author">Markus Danilow</strong><comment id="timestamp"> - 24. April 2014</comment></h5>
            <h4 id="contentTitle">Das ist der Titel...</h4>
        </div>
    </div>
    <div class="autoWidthElement contentBoxMessage" id="contentMessage">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
        accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
        est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
        et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
        ipsum dolor sit amet.
    </div>
</div>