div.contentArea{
    font-size: 14px;
}
.contentContainer{
    border-bottom: 1px solid #ccc;
}
.contentContainer.simple{
    border: none;
}
div.contentBox{
    border: 1px solid #ccc;
    border-left: 5px solid #0096e0;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}
div.contentBox:hover{
    box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
}
div.contentBox > div.contentBoxHeader > div.avatar{
    border: 1px solid #363e43;
}
div.contentBox > div.contentBoxHeader > div.infobox > h5{
    color: #363e43;
}