
<script>
    GetInterface.execute(urlAPI+'user/checkUserLogin.php', null,
        function (loggedIn) {
            if(!loggedIn) {
                $('.contentContainer').load('templates/content/noAccess.html');
            }else{
                $('#nav_signout').removeClass('invisible');
            }
        }, function (error) {
            console.log(error);
        });
</script>
<div class="absoluteElement autoHeightElement fullPageContainer">
    <div class="autoWidthElement contentContainer">

    </div>
</div>