<script>
    checkLoginStatus(function () {
        $('#nav_signout').removeClass('invisible');
    }, null);
</script>
<div class="absoluteElement autoHeightElement leftAlignedElement menu">
    <div class="absoluteElement topAlignedElement autoWidthElement menuHeader">
        <div class="horizontalAlignedElement topAlignedElement autoWidthElement logo"></div>
        <p class="autoWidthElement bottomAlignedElement">Gästebuch</p>
    </div>
    <div class="absoluteElement autoWidthElement autoHeightElement navigation">
        <ul class="absoluteElement">
            <a class="navButton special" href="templates/content/public/" id="nav_public">
                <li>
                    <i class="fa fa-globe"></i>
                    <p>Öffentlicher Bereich</p>
                    <div class="border"></div>
                </li>
            </a>
            <a class="navButton special" href="templates/content/private/" id="nav_private">
                <li>
                    <i class="fa fa-lock"></i>
                    <p>Privater Bereich</p>
                    <div class="border"></div>
                </li>
            </a>
            <a class="navButton special" href="templates/content/info/" id="nav_info">
                <li>
                    <i class="fa fa-info"></i>
                    <p>Info</p>
                    <div class="border"></div>
                </li>
            </a>
            <a class="navButton special invisible notActivated" href="#" onclick="signout();" id="nav_signout">
                <li>
                    <i class="fa fa-sign-out"></i>
                    <p>Abmelden</p>
                    <div class="border"></div>
                </li>
            </a>
        </ul>
    </div>
</div>